/* .normalButton {
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
} */

/* .normalButton:hover{
    cursor: pointer !important;
    box-shadow: 4px 4px 5px black !important;
}

.actif {
    background-color: rgb(6, 132, 236);
    color: rgb(252, 249, 249);
    cursor: pointer;
}

.actif:hover{
    background-color: rgb(3, 3, 3);
    color: rgb(252, 252, 252);
    cursor: pointer;
    box-shadow: 4px 4px 5px black;
}

.barre {
  text-decoration: line-through;
} */